# package manager
.pnpm-store
pnpm-lock.yaml

# next.js
.next
next-env.d.ts
styles/globals.css

# keycloak-theme
keycloak-theme/gits-theme/login/resources/css/login.css
keycloak-theme/gits-theme/login/login.ftl
keycloak-theme/gits-theme/login/register.ftl
keycloak-theme/gits-theme/login/template.ftl

# graphql codegen
__generated__
src/schema.graphql

# json files
*.json
